{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "jest": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "impliedStrict": true,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}